html, body{
  font-family: "arial";
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.navBar{
  display:block;
  text-align: center;
  list-style: none;
  background-color: #192857;
  color: #cdb87d;
  font-size:130%;
}
a:link{
  color:white;
  text-decoration: none;
}
a:visited{
  color:white;
  text-decoration: none;
}
.titleText{
  display:block;
  text-align:center;
  padding-bottom: -20rem;
  background-color: #192857;
  color: #cdb87d;
}

/*Yes I know this is terrible, just temporary until I can be bothered to track down what is padded*/
* {
  margin: 0; padding: 0;
  }
